@import "./material.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: @primary-container;
    color: @on-surface;
   border-bottom: 2px solid @outline;
}

/* Base style for the window title */
#window {
    color: @primary;
    background-color: @primary-container;
    padding: 2px 12px;
    margin: 4px 5px;
    border-radius: 8px;
    border: 1px solid @outline;
}

/* Style when no windows are open */
#window.empty {
    background-color: transparent;
    color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button {
	color: @primary;
    background-color: @primary-container;
    padding: 2px 12px;
    margin: 4px 5px;
    border-radius: 8px;
    border: 1px solid @outline;
}

#workspaces button:hover {
    background-color: @secondary;
    color: @on-secondary;
    font-weight: bold;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: @primary;
    color: @on-primary;
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: @error;
    color: @on-primary;
}

#mode {
    background-color: @primary;
    color: @on-primary;
    font-weight: bold;
    padding: 2px 10px;
}

/* Synced Capsule Modules */
#clock,
#pulseaudio,
#tray {
    color: @primary;
    background-color: @primary-container;
    padding: 2px 12px;
    margin: 4px 5px;
    border-radius: 8px;
    border: 1px solid @outline;
}

/* Exact Internal Text Positioning Rules */
#clock label,
#pulseaudio label {
    color: @primary;
    font-weight: bold;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    background-color: @error;
    border-radius: 4px;
}

/* Tooltip container styling */
tooltip {
  background: rgba(46, 52, 64, 0.95);  /* Nord Dark Base with 95% opacity */
  border: 2px solid @primary;          /* Sharp Nord Frost Blue Outline */
  border-radius: 10px;
}

/* Tooltip text styling */
tooltip label {
  color: @on-surface;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}
